body{
    font-family: 'Play', sans-serif;
}
/* =============progress bar=========== */
.progress{
    position: fixed;
    height: 3px;
    background-color:rgb(175, 22, 155) ;
    box-shadow: 0 0 2px rgb(175, 22, 155);
    z-index: 10000;
    transition: all 0.5s ease;
}
/* ============= =menu btn============= */
.menu-btn{
    position: fixed;
    z-index: 100;
    margin: 2%;
    background: rgba(211, 209, 209, 0.315);
    border-radius: 5px;
    padding: 12px 15px;
}
.fa-align-left{
    color: rgb(34, 35, 36);
    font-size: 2rem;
}
/* ================side menu============= */
.menu{
    position: fixed;
    top: 0;
    left: -300px;
    background-color: rgba(125, 0, 125, 0.9);
    width: 300px;
    height: 100vh;
    z-index: 101;
    transition: left 1s;
}
.active{
    left: 0;
}
.close-btn{
    margin: 1rem 2rem;
    text-align: right;

}
.fa-window-close{
    font-size: 1.3rem;
    color: rgb(56, 21, 73);
    cursor: pointer;
}
.menu-list{
    padding: 2rem;
    text-align: center;
}
.first{
    border-bottom: 1px solid rgba(113, 73, 133, 0.842)  ;
    padding-bottom: 15px;
    font-size: 1.8rem;
}
.first:hover{
    background-color: rgba(73, 71, 75, 0.336);
}
.memu-item{
    list-style: none;

}
.memu-item a{
    text-decoration: none;
    color: black;
}
.memu-item a i{
    margin-right: 10px;
}
.menu-img{
    width: 30%;
    height: 30%;
}
.services{
    margin-top: 1rem;
    background-color: rgba(33, 33, 34, 0.171);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
}
.services:hover{
    background-color: rgba(73, 71, 75, 0.336);
}
.menu-text{
    margin-bottom: 0 !important;
}
/* ===============card body============== */
.card-text{
    font-size: 1.3rem !important;
}
.main-img{
    width: 15%;
    margin-bottom: 1rem;
}
.color-card{
    background-color: #f5f5f5 !important;
}
.titele-txt{
    line-height: 1.5rem !important;
}
/* ================footer=============== */
.footer{
    background:url(../images/40.jpg) repeat;
    margin-top: 2.5rem;
    border-radius: 5px 5px 0 0;
}
.footer-container{
    padding:3% 10%;
    display: flex;
}
.phone-txt,
.mail-txt,
.social-txt
{
    font-size: 1.2rem !important;
    color: #0a3d62;
    
}

.social-network {
    margin-top: 10%;
    animation: zoomInDown;
    animation-duration: 1.5s;
}
.s-icon {
    margin: 0 10px;
    width: 3rem;
    height: 3rem;
    background-color: rgba(150, 40, 126, 0.589);
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    font-size: 28px;
    transition: 1s linear;
    position: relative;
    border: 1px solid black;
}
.x{
    position: absolute;
    width: 100%;
    height: 130%;
    top: -17px;
    left: 0px;
}

.s-icon:hover {
    transition: 700ms linear;
    border-radius: 50px;
}
.s-icon i::before {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .s-icon:hover i::before {
    background-position: 0% 0%;
  }
  .fa-github::before {
    background-image: linear-gradient(135deg, #000000 30%, #0a3d62 50%);
  }
  .fa-twitter::before {
    background-image: linear-gradient(135deg, #1da1f2 30%, #0a3d62 50%);
  }
  .fa-instagram::before {
    background-image: linear-gradient(135deg, #c32aa3 30%, #0a3d62 50%);
  }
  .fa-linkedin::before {
    background-image: linear-gradient(135deg, #0a06ff 30%, #0a3d62 50%);
  }
  .whatsapp-txt{
      margin: 0 1rem;
      color: #1EBEA5 !important;
      border: 1px solid #1EBEA5;
      padding: 5px;
      border-radius: 10px;
  }
  .telegram-txt{
      color: #26A5E5 !important;
      border: 1px solid #26A5E5;
      padding: 5px;
      border-radius: 10px;
      
  }
  .whatsapp-txt:hover,
  .telegram-txt:hover{
      background-color: #8e4d9e59;
  }
  @media screen and (max-width: 990px) {
    .telegram-txt{
      display: block;
      text-align: center;
      margin: 10px auto;
    }
    .whatsapp-txt{
        display: block;
        text-align: center;
        margin: 0;
    }
  }
   @media screen and (max-width: 767px) {
    .mail-txt,
     .phone-txt{ border-bottom: 2px solid;
        margin-bottom: 1rem;
     }
}
